.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
}

.centered-div {
    text-align: center;
    
}

#video {
    border-radius: 10px;
}